<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={{ asset("css/styles.css")}}>
    {% block script_tag%}
    {% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <title> {% block page_title %}
    {% endblock %}</title>


</head>
<body>

<header>
    <div id="titre" class="center">
        <a href="{{ path('feed') }}"><span>The Feed</span></a>
        <nav>
            <a href="{{ path('feed') }}">Accueil</a>
            {% if not is_granted('ROLE_USER') %}
                <a href="{{ path('inscription') }}">Inscription</a>
                <a href="{{ path('login') }}">Connexion</a>
            {% endif %}
            {% if is_granted('ROLE_USER') %}

                {% if  not app.user.premium %}
                    <a href="{{path('premiumInfos')}}">Premium</a>
                {% endif %}


                <a href="{{ path('pagePerso', {'login': app.user.login}) }}">Ma page</a>
            <form method="post" action="{{ path('logout') }}">
                <button id="btn-deconnexion">Déconnexion</button>
            </form>
            {% endif %}
        </nav>
    </div>
</header>

<div id="flashes-container">
    <!-- Pour chaque message du type "success" -->
    {% for flashMsg in app.flashes('success') %}
        <span class="flashes flashes-success">{{ flashMsg }}</span>
    {% endfor %}

    {% for flashMsg in app.flashes('error') %}
        <span class="flashes flashes-error">{{ flashMsg }}</span>
    {% endfor %}

</div>


{% block page_content %}

{% endblock %}
</body>
</html>