<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    {% block page_title %}
    {% endblock %}


</head>
<body>

<header>
    <div id="titre" class="center">
        <a href="{{ path('feed') }}"><span>The Feed</span></a>
        <nav>
            <a href="{{ path('feed') }}">Accueil</a>
            {% if not is_granted('ROLE_USER') %}
                <a href="{{ path('inscription') }}">Inscription</a>
                <a href="{{ path('login') }}">Connexion</a>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <form method="post" action="{{ path('logout') }}">
                <button id="btn-deconnexion">Déconnexion</button>
            </form>
            {% endif %}
        </nav>
    </div>
</header>

<div id="flashes-container">
    <!-- Pour chaque message du type "success" -->
    {% for flashMsg in app.flashes('success') %}
        <span class="flashes flashes-success">{{ flashMsg }}</span>
    {% endfor %}

    {% for flashMsg in app.flashes('error') %}
        <span class="flashes flashes-error">{{ flashMsg }}</span>
    {% endfor %}

</div>


{% block page_content %}

{% endblock %}
</body>
</html>